<button [routerLink]="'/'" type="button" class="btn btn-link">← {{'goBackToList' | translate}}</button>

<h3>{{'addNewNote' | translate}}</h3>
<form [formGroup]="newNoteForm" (ngSubmit)="onFormSubmit()">
  <div class="form-group row">
    <div class="col-sm-10">
      <input type="text" formControlName="title" class="form-control">
    </div>
    <button type="submit" [disabled]="!newNoteForm.valid" class="btn btn-primary col-sm-2 col-form-label">{{'createNote' | translate}}</button>
  </div>
</form>
