<nav class="navbar navbar-expand-md navbar-dark bg-dark justify-content-between">
  <a class="navbar-brand"  [routerLink]="'/'">{{'title' | translate}}</a>
  <div>
    <ul class="navbar-nav mr-auto">
      <li *ngFor="let lang of availableLangs" class="nav-item active" [ngClass]="{'active': lang === currentLang}">
        <a class="nav-link" (click)="setLanguage(lang)">{{lang | titlecase}}</a>
      </li>
    </ul>
  </div>
</nav>

<main role="main" class="container">
  <div class="starter-template">
    <router-outlet></router-outlet>
  </div>
</main>

