<div>
  <span *ngIf="loading$ | async">{{'loading' | translate}}...</span>
  <ng-container *ngIf="(loading$ | async) === false">
    <div class="card" *ngFor="let note of notes$ | async">
      <div class="card-body" [routerLink]="['/note-detail', note.id ]">
        {{note.title}}
      </div>
    </div>
  </ng-container>

  <button type="button" class="btn btn-primary btn-block" [routerLink]="'/add-note'">
    {{'addNewNote' | translate}}
  </button>
</div>

