<div class="controls">
  <button [routerLink]="'/'" type="button" class="btn btn-link">← {{'goBackToList' | translate}}</button>
  <button class="btn btn-outline-danger" (click)="deleteNote()">{{'removeNote' | translate}}</button>
</div>

<span *ngIf="loading$ | async">{{'loading' | translate}}...</span>
<ng-container *ngIf="(loading$ | async) === false">
  <form [formGroup]="editNoteForm" (ngSubmit)="onEditNoteSubmit()">
    <div class="form-group row">
      <div class="col-sm-10">
        <input type="text" formControlName="title" class="form-control">
      </div>
      <button type="submit" [disabled]="!editNoteForm.valid" class="btn btn-success col-sm-2 col-form-label">
        {{'saveNote' | translate}}
      </button>
    </div>
  </form>

</ng-container>

